// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;

// Changing the body background and text
//$body-bg: #d3e9eb;
//$body-color: #151417;
@import '_variables';
// Changing the border radius of buttons
//$border-radius: 15px;

// Changing the theme colors
// $primary: #3ec89d;
// $secondary: #3ab7ff;
// $success: #65ff9f;
// $info: #7164ff;
// $warning: #ff9f65;
// $danger: #ff457b;
// $light: #f2d4ff;
// $dark: #18181d; 


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);


$theme-colors: (
 "cool": #2a3f81
); 